---
title: Контакты - Русский пейзаж
---
{% extends "layouts/_layout.html" %}

{% block content %}

    {% include "partials/_top.html" %}

	<section class="page-header">
        <div class="container">
            <div class="page-header__wrap">
                <div class="title">Контакты</div>
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__items">
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Главная</a>
                        </li>
                        <li class="breadcrumbs__item">Контакты</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="page-contact">
        <div class="container">
            <div class="page-contact__wrap">
                <div class="page-contact__left">
                    <div class="page-contact__item">
                        <svg class="page-contact__icon">
                            <use xlink:href="img/sprite.svg#icon-paper-plane"></use>
                        </svg>
                        <div class="page-contact__text">
                            <p>Адрес:</p>
                            <p>г. Москва, ул. Адмирала Руднева, 4</p>
                        </div>
                    </div>
                    <div class="page-contact__item">
                        <svg class="page-contact__icon">
                            <use xlink:href="img/sprite.svg#icon-phone-call"></use>
                        </svg>
                        <div class="page-contact__text">
                            <p>Телефон:</p>
                            <p>+7 (916) 516 68 18</p>
                        </div>
                    </div>
                    <div class="page-contact__item">
                        <svg class="page-contact__icon">
                            <use xlink:href="img/sprite.svg#icon-whatsapp"></use>
                        </svg>
                        <div class="page-contact__text">
                            <p>Whatsapp:</p>
                            <p>+7 (916) 516 68 18</p>
                        </div>
                    </div>
                    <div class="page-contact__item">
                        <svg class="page-contact__icon">
                            <use xlink:href="img/sprite.svg#icon-message"></use>
                        </svg>
                        <div class="page-contact__text">
                            <p>Mail:</p>
                            <p>ruspeyzazh@mail.ru</p>
                        </div>
                    </div>
                    <a href="#modal" class="btn">Перезвоните мне</a>
                </div>
                <div class="page-contact__right">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad5058579a8c902e39ee2c22855870bb771cf49bb3eb833f66b600de2843e7a4d&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/_callback.html" %}

    {% include "partials/_footer.html" %}

{% endblock %}