---
title: Портфолио - Русский пейзаж
---
{% extends "layouts/_layout.html" %}

{% block content %}

    {% include "partials/_top.html" %}

	<section class="page-header">
        <div class="container">
            <div class="page-header__wrap">
                <div class="title">Коттеджный поселок</div>
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__items">
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Главная</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Наши работы</a>
                        </li>
                        <li class="breadcrumbs__item">Коттеджный поселок</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio">
        <div class="container">
            <div class="portfolio__wrap">
                <div class="portfolio__header">
                    <div class="portfolio__header-col">
                        <div class="portfolio__title">Задача</div>
                        <p>Lorem ipsum dollor sit</p>
                    </div>
                    <div class="portfolio__header-col">
                        <div class="portfolio__title">Реализация</div>
                        <p>Lorem ipsum dollor sit</p>
                    </div>
                    <div class="portfolio__header-col">
                        <div class="portfolio__title">Отзыв</div>
                        <p>Lorem ipsum dollor sit</p>
                    </div>  
                </div>
                <div class="portfolio__content">
                    <img class="wow fadeInUp" src="img/portfolio/1.jpg" alt="">
                    <img class="wow fadeInUp" src="img/portfolio/2.jpg" alt="">
                    <p class="wow fadeInUp">Lorem ipsum dollor sit</p>
                    <img class="wow fadeInUp" src="img/portfolio/3.jpg" alt="">
                    <img class="wow fadeInUp" src="img/portfolio/4.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    {% include "partials/_callback.html" %}

    {% include "partials/_footer.html" %}

{% endblock %}