<section class="callback">
        <div class="container">
            <div class="callback__wraper">
                <div class="title">Расскажите о своем проекте</div>
                <div class="subtitle">
                    Заполните форму, чтобы связаться с нашей командой экспертов.
                    Давайте создадим что-то красивое вместе.
                </div>
                <div class="callback__form">
                    <form action="" class="form">
                        <div class="form__control form__control--3col">
                            <input type="text" class="form__input" placeholder="Ваше имя" required/>
                        </div>
                        <div class="form__control form__control--3col">
                            <input type="text" class="form__input" placeholder="Ваш телефон" required/>
                        </div>
                        <div class="form__control form__control--3col">
                            <input type="text" class="form__input" placeholder="Ваш Email" required/>
                        </div>
                        <div class="form__control">
                            <input type="text" class="form__input" placeholder="Где находится объект" required/>
                        </div>
                        <div class="form__control">
                            <textarea class="form__textarea" rows="7" placeholder="Ваше сообщение" required></textarea>
                        </div>
                        <div class="form__control">
                            <input type="submit" class="form__submit" value="Отправить"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>