<section class="footer">
        <div class="container">
            <div class="footer__wrap">
                <div class="footer__left">
                    <div class="footer__logo">
                        <div class="footer__company-name">Русский пейзаж</div>
                        <div class="footer__company-description">Ландшафтная компания</div>
                    </div>
                </div>
                <div class="footer__right">
                    <ul class="footer__navigation">
                        <li class="footer__navigation-item">
                            <a href="" class="footer__navigation-link">Главная</a>
                        </li>
                        <li class="footer__navigation-item">
                            <a href="" class="footer__navigation-link">О компании</a>
                        </li>
                        <li class="footer__navigation-item">
                            <a href="" class="footer__navigation-link">Портфолио</a>
                        </li>
                        <li class="footer__navigation-item">
                            <a href="" class="footer__navigation-link">Контакты</a>
                        </li>
                    </ul>
                    <div class="social">
                        <a href="" class="social__link social__link--footer">
                            <svg class="social__img">
                                <use xlink:href="img/sprite.svg#icon-inst"></use>
                            </svg>
                        </a>
                        <a href="" class="social__link social__link--footer">
                            <svg class="social__img">
                                <use xlink:href="img/sprite.svg#icon-vk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="copyright">
        <div class="container">
            <div class="copyright__wrap">
                <div class="copyrigt__left">2018г. Все права защищены.</div>
                <div class="copyright__right">
                    Разработано в 
                    <a href="http://simpleart.pro" class="copyright__link">SimpleArt</a>
                </div>
            </div>
        </div>
    </section>


    <div class="remodal" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <div class="title">Расскажите о своем проекте</div>
        <div class="subtitle">Наш специалист с Вами свяжется в ближайшее время</div>
        <form action="" class="form">
            <div class="form__control form__control--3col">
                <input type="text" class="form__input" placeholder="Ваше имя" required/>
            </div>
            <div class="form__control form__control--3col">
                <input type="text" class="form__input" placeholder="Ваш телефон" required/>
            </div>
            <div class="form__control form__control--3col">
                <input type="text" class="form__input" placeholder="Ваш Email" required/>
            </div>
            <div class="form__control">
                <input type="text" class="form__input" placeholder="Где находится объект" required/>
            </div>
            <div class="form__control">
                <textarea class="form__textarea" rows="7" placeholder="Ваше сообщение" required></textarea>
            </div>
            <div class="form__control">
                <input type="submit" class="form__submit" value="Отправить"/>
            </div>
        </form>
    </div>