.icon-chevrone-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chevrone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mouse {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: #030104;
}
