.icon-chevrone-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chevrone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-message {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mouse {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-paper-plane {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone-call {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: #1e201d;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-whatsapp {
  width: 1em;
  height: 1em;
  fill: initial;
}
